.delete_btn {
  position: absolute;
  top: 2.5rem;
  right: 22%;
  font-size: 1em;
  background-color: var(--bg-color);
  border-radius: 50%;
  color: var(--text-color);
  padding: 0.3rem 0.5rem;
  transition: all 0.5s;
}
.delete_btn:hover {
  background-color: var(--main-color);
  color: var(--second-color);
  box-shadow: rgba(22, 23, 26, 0.1) 0 10px 30px -10px;
}

@media (min-width: 400px) {
  .delete_btn {
    top: 2.5rem;
    right: 30%;
    font-size: 1.2em;
  }
  .profileImg {
    max-width: 40%;
  }
}
@media (min-width: 600px) {


  .delete_btn {
    top: 2.5rem;
    right: 10%;
  }

}
@media (min-width: 800px) {

  .delete_btn {
    top: 2.5rem;
    right: 10%;
    font-size: 1.2em;
    padding: 0.3rem 0.6rem;
  }


@media (min-width: 1000px) {

  .delete_btn {
    font-size: 1.2em;
  }

}
@media (min-width: 1200px) {
  .delete_btn {
    font-size: 1.3em;
    right: 20%;
    padding: 0.4rem 0.7rem;
  }
}
