.users {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
.users_h2 {
  font-weight: 800;
  font-size: 2.5em;
  text-align: center;
  opacity: 0.8;
  color: var(--text-color);
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--main-color);
  display: inline-block;
  margin: 0 auto;
}
