.input{
    border: 1.5px solid #dfe1f0;
    outline: none;
    width: 100%;
    padding: 8px 16px;
    background: #f6f7ff;
    color: inherit;
    border-radius: 4px;
    margin: 6px 0;
    font-family: inherit;
    text-align: left;
    font-size: 0.8em;
    transition: 0.4s;
}
.input::placeholder{
    font-size: 0.7em;
}
.input-required{
    border: 1.5px solid #eb1818;
}