.nav-links {
  display: flex;
  list-style: none;
  margin-left: auto;
  flex-direction: column;
  align-items: start;
}
.nav-links li {
  margin: 0 0.5rem;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }
}
