.place-list {
  list-style: none;
  margin: 4rem auto;
  margin-bottom: 6rem;
  display: flex;
  padding: 0 3rem;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
}

.place-list h2 {
  margin-top: 1rem;
  font-size: 1.4em;
}
.mt {
  margin-top: 3rem;
}

@media (min-width: 600px) {
  .place-list {
    flex-direction: row;
    margin-top: 6rem;
    flex-wrap: wrap;
  }
}
@media (min-width: 1100px) {
  .place-list {
    padding: 0 8rem;
    gap: 2rem;
  }
}
