.place-item {
  margin: 1rem 0;
  flex: 0 0 100%;
}
a {
  text-decoration: none;
  padding: 0;
}
.place-item__content {
  padding: 0;
}

.place-item__info {
  padding: 1rem 1.2rem;
}

.place-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
  overflow: hidden;
}

.place-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s;
}
.place-item__image img:hover {
  transform: scale(1.1);
}

.place-item__info h2,
.place-item__info h3,
.place-item__info p {
  margin: 0 0 0.5rem 0;
  color: var(--text-color);
}
.place-item__info p {
  text-align: justify;
  font-size: 0.7em;
  opacity: 0.8;
}

.place-item__info_h2 {
  font-size: 1.4em !important;
  font-weight: 600;
  color: var(--text-color);
  margin-top: 1.5rem !important;
}
.loaction-container {
  display: flex;
  margin-top: 1rem;
}
.location {
  margin-right: 0.2rem;
  opacity: 0.8;
  color: var(--text-color);
}
.place-item__info_h3 {
  font-size: 0.8em !important;
  font-weight: 500;
  color: var(--text-color);
  opacity: 0.8;
  display: inline-block;
}
.place-item__actions {
  padding: 0.5rem;
  text-align: center;
  border-top: 1px solid #ccc;
}
.user_name_container {
  margin-top: -0.5rem;
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.24));
  transition: all 0.5s;
}
.user_img:hover {
  width: 37px;
  height: 37px;
  object-fit: cover;
  filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.6));
}
.user_name {
  font-size: 0.8em;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 1rem;
  opacity: 0.8;
}

.user_places {
  font-size: 0.7em;
  font-weight: 400;
  color: var(--other-color);
  margin-left: 1rem;
  display: block;
}

.menu {
  font-size: 1.2em;
  padding: 0.5rem;
  transition: all 0.3s;
  color: var(--text-color);
  border-radius: 50%;
}

.menu:hover {
  background-color: var(--main-color);
  color: var(--second-color);
}
.place-item__modal-content {
  padding: 0;
}

.place-item__modal-actions {
  text-align: right;
}

.place-item__actions button,
.place-item__actions a {
  margin: 0.5rem 0.2rem;
}

.map-container {
  height: 15rem;
  width: 100%;
}
.mr {
  margin-right: 0.5rem;
}
@media (min-width: 600px) {
  .place-item {
    flex: 0 0 45%;
  }
}

@media (min-width: 780px) {
  .place-item {
    flex: 0 0 30%;
  }
  .place-item__actions {
    padding: 0.5rem;
  }
}

@media (min-width: 850px) {
  .place-item {
    flex: 0 0 22%;
  }
}
